@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Micro+5&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

body {
    background-color: #1c1c22;
    color: #ffffff;
    font-family: 'Jetbrains Mono', monospace;
}

#nerd-header {
    font-family: "Micro 5", sans-serif;
    font-style: normal;
}

.text-accent {
    
    color: rgb(143, 143, 255);
}

.bg-accent {
    background-color: rgb(52, 52, 183);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-bottom: 15px;
}
@media (min-width: 1200px) {
    .h1 {
        font-size: 80px;
    }
}

.h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1;
}